<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <form class="product-form" action="/admin/fashion" method="POST">
        <div class="form-control">
            <label for="images">Fashion Images</label>
            <textarea type="" name="images" id="images" value="<%= fashion.images %>"></textarea>                
        </div>
        <div class="button-control">
            <button class="btn" type="submit">Update Fashion Section</button>
        </div>
    </form>
</body>
</html>